.AddNewExpance {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.AddNewExpance-btn {
  padding: 1.2rem 3rem;
  font-size: 2rem;
  color: rgb(19, 19, 19);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
